.footer {
  padding: 2rem;
  text-align: center;
  background-color: #00a86b;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__socials img {
  width: 24px;
  filter: brightness(0) invert(1);
  transition: 0.3s;
  cursor: pointer;
}

.footer__socials img:hover {
  transform: scale(1.2);
}
